* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .card {
    color: #fff;
    width: 375px;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card-border-red {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 8px;;
}

section .page-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}